.container {
  background-color: var(--white);
  opacity: 0.4;
  color: #000;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.current {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
}

.temperatures {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.span_max,
.p_max {
  color: #f10808;
  font-weight: 600;
  font-size: 3rem;
}

.span_min,
.p_min {
  color: #0685f3;
  font-weight: 600;
  font-size: 3rem;
}
