/* Spinner */
.sk-cube-grid {
  width: 60px;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  margin: 100px auto;
}

.sk-cube {
  width: 100%;
  height: 100%;
  background-color: #581c87;
  border-radius: 4px;
  animation: sk-cubeGridScaleDelay 1.5s infinite ease-in-out;
}

@keyframes sk-cubeGridScaleDelay {
  0%, 100% {
    transform: scale(1);
    background-color: #c084fc;
  }
  50% {
    transform: scale(0.5);
    background-color: #a855f7;
  }
}

@media (max-width: 480px) {
  .sk-cube-grid {
    width: 50px;
    height: 50px;
  }
}
