:root {
  --white: #fff;
  --primary: #f59e0b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Smooch Sans", sans-serif;
  background: url(/public/bg_clima.jpg) no-repeat center center/cover;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover; /* Asegura que el fondo cubra todo el área */
  background-position: center; /* Centra el fondo */
}

/* Media Query para pantallas medianas */
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%; /* Ajusta el tamaño base */
  }

  body {
    font-size: 1.6rem; /* Asegura una lectura cómoda */
    background-size: cover; /* Asegura que el fondo se expanda correctamente */
    background-position: center; 
  
  }
}


/* Media Query para pantallas aún más pequeñas */
@media (max-width: 480px) {
  html {
    font-size: 45%;
  }

  body {
    font-size: 1.4rem;
    background-size: cover; /* Asegura que el fondo se expanda correctamente */
    background-position: center; /* Mantiene el fondo centrado */
  }
}
